<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>¡Bienvenido Usuario!</h1>
      <p>Inicia sesión para continuar</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input aria-label="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input aria-label="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button">Iniciar</ion-button>
      <p>¿Olvidaste tu contraseña?</p>
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/signup">Regístrate</ion-button>
    </div>
  </div>
</ion-content>
