<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>SkeletonApp</h1>
      <h1>¡Bienvenido!</h1>
      <p>Aquí comienza todo</p>
    </div>
    <form [formGroup]="formularioLogin">
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </div>
      </div>
    </form>
    <div class="action-buttons ion-padding">
      <ion-button (click)="ingresar()" size="large" class="login-button">Ingresar</ion-button>
      <p>¿Olvidaste tu contraseña?</p>
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/signup">Regístrate</ion-button>
    </div>
  </div>
</ion-content>

