<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>¡Página de Feed del hacker!</h1>
      <p>Tu camino comienza aquí</p>
    </div>
    

    <ion-card>
      <img src="assets/hacker.jpeg" />
      <ion-card-header>
        <ion-card-title>Planes de acción</ion-card-title>
        <ion-card-subtitle>Nuevo contenido</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En este apartado se podrán visualizar tus próximas tareas.
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>

